
.landinghead{
    /* text-align: start; */
    display:flex;
    justify-content: flex-start;
    /* flex-direction:column; */
    background-image: none;

}

.headcont{
    margin-bottom: 30px;
    
}
.landimg{
    background-image: url('../UI/landimg.png');
    padding:360px;
    background-repeat: no-repeat;
    
}
.landtext{
    color:white;
    /* font-size: 30px; */
    font-weight: bolder;
    font-style: oblique;
    margin-left:70px;
    margin-top:70px;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(2, 122, 48, 0.856);
    color: white;
    padding-bottom: 10px;
    
  }
  .foot{

    text-align: start;
    display: flex;
    justify-content: row;
  }
.navbar{
    
    background-image: none;
    color:white;
    position: sticky;
    top:0;
    
}
.orderplace{
   
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
    cursor: pointer;
    float: right;
    /* -webkit-transform: translate(8%,25%); */

}
.cartimage{
    color:#e9dc27;
    font-size: 15px;
}
.header{
    /* position: fixed; */
    top:0;
}
.tags{
    margin-bottom: 20px;
    margin-left: 170px;
}
.htags{
    margin-right:40px;
    display: inline;
}
.placeorder,.del,.co,.dep{
    /* background-color: #FF9C2E !important; */
    background-color: #e9dc27 !important;
    border-color: #cfc202 !important;

}
.navbar-brand{
    margin-left: 30px !important;
    color:white;
}
.card-img-top{
    border-top: 100px;
}
.card.item{
    margin-bottom: 30px;
    border-top: 100px;
    border-color: rgba(2, 122, 48, 0.856);
}
.addcart,.remo{
    background-color: rgba(2, 122, 48, 0.856) !important;
    border-color: #337c02 !important;
}
.btn-primary:hover{
    background-color: rgba(6, 172, 70, 0.856);
}
.main{
    text-align: center;
    justify-content: center;
}
.a{
    background-color:rgba(2, 122, 48, 0.856);
    height: 500px;
  width: 100%;
  margin-bottom: 100px;
}
/* cart */
.aa{
    background-color:rgba(2, 122, 48, 0.856);
  width: 100%;
  

}
.cartitemhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cartcard{
    border-color: aqua;
    margin-bottom: 30px;
    border-left: 30px;

}
.total{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}
.nocart{
    margin-top:40px;
    
    margin-bottom:153px;
    margin-right:100px !important;
    align-items:center;
    align-content: center;
    text-align:center;
}
#cartimage{
    border-radius: 10px;
    margin-bottom: 20px;
}
#got{
    width:30%;
    padding:10px;
}
/* Info section styles */
.usermain{
    margin-top: 20px;
    margin-bottom: 30px;
}
.divimage{
    display: flex;
    flex-direction: row;

}
#imdeliver{
    width:100px;
    border-radius: 10px;
    margin-right: 5px;
}
.insideinfo{
    margin-left: 180px;
    color:rgba(2, 122, 48, 0.856);
    font-size: 20px;
    font-weight: bold;
}
label{
    margin-left: 40px;
    text-align: center;

}
input[type],textarea{
    height:50%;
    text-align: center;
    padding-left: 10px;

}
.cartcontainer{
    /* transform: translate(30%,150%); */
    background-color: rgba(38, 167, 87, 0.856);
    background: linear-gradient(rgba(0, 231, 89, 0.856),rgba(38, 167, 87, 0.856));
    border: rgba(2, 122, 48, 0.856) 7px solid;
    margin-left:70px;
    margin-top:50px;
    color:white;
    text-align: center;
    align-items: center;
    width:100%;
    
    object-fit: cover;
}
ul li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size:15px;
    font-weight: bolder;
}
/* responsive */
/* for tablets 768*/
@media only screen and (max-width: 360px) {
    .landimg{
        display: none;
    }
    .landinghead{
        margin-left: 10px;
        margin-right: 70px;
        margin-bottom: 30px;
    }
    .orderplace{
    /* margin-top: 30px;       */
    position:absolute;
    top:350px;
    cursor: pointer;
    margin-right:70px;
    }
    .navbar-brand{
        font-size: 0.85rem !important;
        margin-left: 0px;
    }
    #pan{
        margin-left: -50px;
        width:40px;
        height:30px;

    }
    .cartimage{
        margin-top:10px;
        margin-right: 10px;
    }
    .a{
        
        margin-bottom: 10px;
    }
    .item ,.cartcard{
        width:17rem !important;
        margin-left: 8px;
        margin-bottom: 2.2rem !important;
    }
    .tags{
        margin-left:30px;
    }
    /* .del ,.remo{
        padding: .275rem .15rem !important;
    } */
    .dep{
        padding: .275rem .15rem !important;
        margin-left: 10px !important;
    }
}
