.landinghead{
    /* text-align: start; */
    display:flex;
    justify-content: flex-start;
    /* flex-direction:column; */

}
.landimg{
    background-image: url('../UI/landimg.png');
    padding:360px;
    background-repeat: no-repeat;
    /* background-position: 1%; */
    
    
    
}
.landtext{
    color:white;
    /* font-size: 30px; */
    font-weight: bolder;
    font-style: oblique;
    margin-left:70px;
    margin-top:70px;
}

.navbar{
    
    background-image: none;
    color:white;
}
.navbar-brand{
    margin-left: 30px !important;
    color:white;
}
.card{
    margin-bottom: 30px;
}
.main{
    text-align: center;
    justify-content: center;
}
.a{
    background-color:rgba(2, 122, 48, 0.856);
    height: 500px;
  width: 100%;
  margin-bottom: 100px;
}